*{
    margin: 0;
    padding: 0;
    color: #fff;
}
body{
    background: #548687;
    text-align: center;
}
h1{
    margin: 10px;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    display: flex;
    flex-wrap: wrap;
    height: 60vmin;
    width: 60vmin;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.65);
    font-size: 8vmin;
    color: #b0413e;
    background: #fff;
}
#Reset-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background: #191913;
    border:none;
    border-radius: 1rem;
}
#New-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background: #191913;
    border:none;
    border-radius: 1rem;
    margin-top: 2rem;
}
#msg{
    font-size: 6vmin;
}
.msg-container{
    position: fixed;
    top: 25%;
    left: 33%;
    translate: (-50%,-50%);
    height: 30vmin;
    width: 60vmin;
    text-align: center;
    padding: 5vmin;
    background: rgba(0, 0, 0, 0.718);
}
.hide{
    display: none;
}